body{

margin:0;
padding:10mm;

font-family:Arial;

}

#labels{

display:flex;

flex-wrap:wrap;

gap:12mm;

}

.label{

width:90mm;

height:90mm;

border:1px solid #000;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

padding:5mm;

box-sizing:border-box;

page-break-inside:avoid;

}

.code{

margin-top:5mm;

font-size:18px;

font-weight:bold;

}

.qty{

font-size:16px;

margin-top:3mm;

}
.name{

margin-top:5px;

font-size:15px;

font-weight:500;

text-align:center;

max-width:100%;

line-height:1.2;

}
